@model TeleViajes.Models.LocalesDeOcioNocturno

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocalesDeOcioNocturno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudadPueblo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudadPueblo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comunidadAutonoma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comunidadAutonoma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valoracionMedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valoracionMedia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.videoFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.videoFoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
