@model IEnumerable<TeleViajes.Models.LocalesDeOcioNocturno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudadPueblo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comunidadAutonoma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valoracionMedia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.videoFoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudadPueblo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comunidadAutonoma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valoracionMedia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.videoFoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
