@model TeleViajes.Models.Opinion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Opinion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreRecurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRecurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpinionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
