@model Portal.Models.Experiencia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Experiencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agenciaPatrocinadora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agenciaPatrocinadora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioMed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioMed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionPrecios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionPrecios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Excepciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excepciones)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
