@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>MUSEOS</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum vehicula ultricies imperdiet. Suspendisse pretium luctus nisi in scelerisque.
            Donec sollicitudin non risus ut.
        </p>
        <p>@Html.ActionLink("Museos", "Index", "Museos")</p>
    </div>
    <div class="col-md-4">
        <h2>CONCIERTOS</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum vehicula ultricies imperdiet. Suspendisse pretium luctus nisi in scelerisque.
            Donec sollicitudin non risus ut.
        </p>
        <p>@Html.ActionLink("Conciertos", "Index", "Conciertoes")</p>
    </div>
    <div class="col-md-4">
        <h2>OBRAS DE TEATRO</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum vehicula ultricies imperdiet. Suspendisse pretium luctus nisi in scelerisque.
            Donec sollicitudin non risus ut.
        </p>
        <p>@Html.ActionLink("Obras de Teatro", "Index", "ObraDeTeatroes")</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>VISITAS TURÍSTICAS</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum vehicula ultricies imperdiet. Suspendisse pretium luctus nisi in scelerisque.
            Donec sollicitudin non risus ut.
        </p>
        <p>@Html.ActionLink("Visitas Turísticas", "Index", "VisitaTuristicas")</p>
    </div>
    <div class="col-md-4">
        <h2>MUSICALES</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum vehicula ultricies imperdiet. Suspendisse pretium luctus nisi in scelerisque.
            Donec sollicitudin non risus ut.
        </p>
        <p>@Html.ActionLink("Musicales", "Index", "Musicals")</p>
    </div>
    <div class="col-md-4">
        <h2>EXPERIENCIAS</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum vehicula ultricies imperdiet. Suspendisse pretium luctus nisi in scelerisque.
            Donec sollicitudin non risus ut.
        </p>
        <p>@Html.ActionLink("Experiencias", "Index", "Experienciaes")</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ENCUENTROS DEPORTIVOS</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum vehicula ultricies imperdiet. Suspendisse pretium.
        </p>
        <p>@Html.ActionLink("Encuentros Deportivos", "Index", "EncuentroDeportivoes")</p>
    </div>
    <div class="col-md-4">
        <h2>OPINIONES</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum vehicula ultricies imperdiet. Suspendisse pretium luctus nisi in scelerisque.
            Donec sollicitudin non risus ut.
        </p>
        <p>@Html.ActionLink("Opiniones", "Index", "PortalComentarioses")</p>
    </div>
</div>